name: tflint
on: [pull_request]

jobs:
  tflint:
    name: tflint / ubuntu
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Initialize Terrafrom
        working-directory: .
        run: |
          terraform init

      - name: Run tflint with review comment on PR
        uses: reviewdog/action-tflint@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          flags: --module
  
  tfsec:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Install dependencies
        env:
          HOMEBREW_NO_INSTALL_CLEANUP: 1
        run: |
          brew install terraform
      - name: Terraform init
        run: |
          terraform init

      - name: Run tfsec with review comment on PR
        uses: reviewdog/action-tfsec@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: "github-check"
          filter_mode: "nofilter"
